@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

:root {
  --color-fd-background: #191919;
  --color-fd-foreground: #e6e6e6;
  --color-fd-primary: #ff6200;
  --color-fd-accent: #ffffff1a;
  --color-fd-accent-foreground: #e6e6e6;
  --color-fd-card: #161616;
  --color-fd-card-foreground: #e6e6e6;
  --color-fd-muted: #d1cfc00b;
  --color-fd-muted-foreground: #a6a6a6;
  --color-fd-secondary: #2B2B2B;
  --color-fd-secondary-foreground: #a6a6a6;
  --color-fd-border: #ffffff1a;
}

.dark {
  --color-fd-background: #191919;
  --color-fd-foreground: #e6e6e6;
  --color-fd-primary: #ff6200;
  --color-fd-accent: #ffffff1a;
  --color-fd-accent-foreground: #e6e6e6;
  --color-fd-card: #161616;
  --color-fd-card-foreground: #e6e6e6;
  --color-fd-muted: #d1cfc00b;
  --color-fd-muted-foreground: #a6a6a6;
  --color-fd-secondary: #2B2B2B;
  --color-fd-secondary-foreground: #a6a6a6;
  --color-fd-border: #ffffff1a;
}

aside {
  background-color: var(--color-fd-background) !important;
}

aside a[data-active="true"] {
  color: var(--color-fd-foreground) !important;
  background-color: var(--color-fd-accent) !important;
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: 14px;
}

g.main:has(> g.plot) > rect {
  display: none;
}

video {
  border-radius: 40px;
}

aside#nd-sidebar
  div.flex.flex-col.border-t.px-4.py-3
  div.flex.flex-row.items-center
  button.inline-flex.items-center.rounded-full.border.p-0 {
  display: none !important;
}
