@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import 'fumadocs-openapi/css/preset.css';

:root {
  --color-fd-background: #191919;
  --color-fd-foreground: #e6e6e6;
  --color-fd-primary: #ff6200;
  --color-fd-accent: #ffffff1a;
  --color-fd-accent-foreground: #e6e6e6;
  --color-fd-card: #161616;
  --color-fd-card-foreground: #e6e6e6;
  --color-fd-muted: #d1cfc00b;
  --color-fd-muted-foreground: #a6a6a6;
  --color-fd-secondary: #2b2b2b;
  --color-fd-secondary-foreground: #a6a6a6;
  --color-fd-border: #ffffff1a;
}

.dark {
  --color-fd-background: #191919;
  --color-fd-foreground: #e6e6e6;
  --color-fd-primary: #ff6200;
  --color-fd-accent: #ffffff1a;
  --color-fd-accent-foreground: #e6e6e6;
  --color-fd-card: #161616;
  --color-fd-card-foreground: #e6e6e6;
  --color-fd-muted: #d1cfc00b;
  --color-fd-muted-foreground: #a6a6a6;
  --color-fd-secondary: #2b2b2b;
  --color-fd-secondary-foreground: #a6a6a6;
  --color-fd-border: #ffffff1a;
}

aside {
  background-color: var(--color-fd-background) !important;
}

aside a[data-active="true"] {
  color: var(--color-fd-foreground) !important;
  background-color: var(--color-fd-muted) !important;
}

video {
  border-radius: 40px;
}

aside#nd-sidebar div.flex.flex-col.border-t.px-4.py-3 {
  display: none !important;
}

@layer utilities {
  .prose {
    & a.flex.flex-col.gap-1\.5.p-2.rounded-lg.text-sm {
      background-color: var(--color-fd-card);
      transition: background-color 0.2s ease;
      border: 1px solid var(--color-fd-border);
      text-decoration: none;

      p {
        margin: 0;
      }
    }

    & a.flex.flex-col.gap-1\.5.p-2.rounded-lg.text-sm:hover {
      background-color: color-mix(
        in oklab,
        var(--color-fd-accent) 80%,
        transparent
      );
    }
  }
}

.status-badge {
  margin-top: 20px;
  margin-bottom: 8px;
}
